nav
	a(href="/user/" + username) Home
	|
	|
	a(href="/deck") Browse Deck
	|
	|
	a(href="/deck/build") Create Deck
	|
	|
	a(href="/deck/favourite") Favourite Deck
	|
	|
	a(href="/logout") Logout